/* Estrutura do site
-------------------------------------------------*/

body {
    background: #ffc107;
    color: white;
}

/* Breakpoints responsivos com Media Queries
-------------------------------------------------*/

@media (max-width: 575.98px) { /* Extra Small */
    
}

@media (min-width: 576px) and (max-width: 767.98px) { /* Small */
    
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium */
    
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Large */
    
}

@media (min-width: 1200px) { /* Extra large */
    .container {
        max-width: 1180px;
    }
}